/*######## CSS reset ########*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --col-01: calc((100% / 12) * 1);
    --col-02: calc((100% / 12) * 2);
    --col-03: calc((100% / 12) * 3);
    --col-04: calc((100% / 12) * 4);
    --col-05: calc((100% / 12) * 5);
    --col-06: calc((100% / 12) * 6);
    --col-07: calc((100% / 12) * 7);
    --col-08: calc((100% / 12) * 8);
    --col-09: calc((100% / 12) * 9);
    --col-10: calc((100% / 12) * 10);
    --col-11: calc((100% / 12) * 11);
    --col-12: calc((100% / 12) * 12);

    /* gutter verticale e orizzontale: in questo esercizio li imposto uguali */
    --gutterXS: 2px;
    --gutterSM: 4px;
    --gutterMD: 6px;
    --gutterLG: 8px;

    overflow-x: hidden;
}

.row {
    display: flex;
    flex-direction: row;
}






/*######## XS ########*/

/* colonne */
.col-xs-1 {
    flex-basis: calc(var(--col-01) - var(--gutterXS));
    max-width: calc(var(--col-01) - var(--gutterXS));
}

.col-xs-2 {
    flex-basis: calc(var(--col-02) - var(--gutterXS));
    max-width: calc(var(--col-02) - var(--gutterXS));
}

.col-xs-3 {
    flex-basis: calc(var(--col-03) - var(--gutterXS));
    max-width: calc(var(--col-03) - var(--gutterXS));
}

.col-xs-4 {
    flex-basis: calc(var(--col-04) - var(--gutterXS));
    max-width: calc(var(--col-04) - var(--gutterXS));
}

.col-xs-5 {
    flex-basis: calc(var(--col-05) - var(--gutterXS));
    max-width: calc(var(--col-05) - var(--gutterXS));
}

.col-xs-6 {
    flex-basis: calc(var(--col-06) - var(--gutterXS));
    max-width: calc(var(--col-06) - var(--gutterXS));
}

.col-xs-7 {
    flex-basis: calc(var(--col-07) - var(--gutterXS));
    max-width: calc(var(--col-07) - var(--gutterXS));
}

.col-xs-8 {
    flex-basis: calc(var(--col-08) - var(--gutterXS));
    max-width: calc(var(--col-08) - var(--gutterXS));
}

.col-xs-9 {
    flex-basis: calc(var(--col-09) - var(--gutterXS));
    max-width: calc(var(--col-09) - var(--gutterXS));
}

.col-xs-10 {
    flex-basis: calc(var(--col-10) - var(--gutterXS));
    max-width: calc(var(--col-10) - var(--gutterXS));
}

.col-xs-11 {
    flex-basis: calc(var(--col-11) - var(--gutterXS));
    max-width: calc(var(--col-11) - var(--gutterXS));
}

.col-xs-12 {
    flex-basis: calc(var(--col-12) - var(--gutterXS));
    max-width: calc(var(--col-12) - var(--gutterXS));
}


/* gutter */
.gut-xs-hz {
    margin: 0 calc(var(--gutterXS) / 2);
}

.gut-xs-vt {
    padding: calc(var(--gutterXS) / 2) 0;
}


/* offset */
.col-xs-offset-1 {
    margin-left: calc(var(--col-01) + (var(--gutterXS) / 2));
}

.col-xs-offset-2 {
    margin-left: calc(var(--col-02) + (var(--gutterXS) / 2));
}

.col-xs-offset-3 {
    margin-left: calc(var(--col-03) + (var(--gutterXS) / 2));
}

.col-xs-offset-4 {
    margin-left: calc(var(--col-04) + (var(--gutterXS) / 2));
}

.col-xs-offset-5 {
    margin-left: calc(var(--col-05) + (var(--gutterXS) / 2));
}

.col-xs-offset-6 {
    margin-left: calc(var(--col-06) + (var(--gutterXS) / 2));
}

.col-xs-offset-7 {
    margin-left: calc(var(--col-07) + (var(--gutterXS) / 2));
}

.col-xs-offset-8 {
    margin-left: calc(var(--col-08) + (var(--gutterXS) / 2));
}

.col-xs-offset-9 {
    margin-left: calc(var(--col-09) + (var(--gutterXS) / 2));
}

.col-xs-offset-10 {
    margin-left: calc(var(--col-10) + (var(--gutterXS) / 2));
}

.col-xs-offset-11 {
    margin-left: calc(var(--col-11) + (var(--gutterXS) / 2));
}

.col-xs-offset-12 {
    margin-left: calc(var(--col-12) + (var(--gutterXS) / 2));
}


/* container */
.containerXS {
    margin: 1rem calc((var(--gutterXS) / 2) * -1);
}




/*######## SM ########*/

@media screen and (min-width: 576px) and (max-width: 767px) {

    /* colonne */
    .col-sm-1 {
        flex-basis: var(--col-01);
        max-width: var(--col-01);
    }

    .col-sm-2 {
        flex-basis: var(--col-02);
        max-width: var(--col-02);
    }

    .col-sm-3 {
        flex-basis: var(--col-03);
        max-width: var(--col-03);
    }

    .col-sm-4 {
        flex-basis: var(--col-04);
        max-width: var(--col-04);
    }

    .col-sm-5 {
        flex-basis: var(--col-05);
        max-width: var(--col-05);
    }

    .col-sm-6 {
        flex-basis: var(--col-06);
        max-width: var(--col-06);
    }

    .col-sm-7 {
        flex-basis: var(--col-07);
        max-width: var(--col-07);
    }

    .col-sm-8 {
        flex-basis: var(--col-08);
        max-width: var(--col-08);
    }

    .col-sm-9 {
        flex-basis: var(--col-09);
        max-width: var(--col-09);
    }

    .col-sm-10 {
        flex-basis: var(--col-10);
        max-width: var(--col-10);
    }

    .col-sm-11 {
        flex-basis: var(--col-11);
        max-width: var(--col-11);
    }

    .col-sm-12 {
        flex-basis: var(--col-12);
        max-width: var(--col-12);
    }


    /* gutter */
    .gut-sm-hz {
        margin: 0 calc(var(--gutter) / 2);
    }

    .gut-sm-vt {
        padding: calc(var(--gutter) / 2) 0;
    }


    /* offset */
    .col-sm-offset-1 {
        margin-left: calc(var(--col-01) + (var(--guttersm) / 2));
    }

    .col-sm-offset-2 {
        margin-left: calc(var(--col-02) + (var(--guttersm) / 2));
    }

    .col-sm-offset-3 {
        margin-left: calc(var(--col-03) + (var(--guttersm) / 2));
    }

    .col-sm-offset-4 {
        margin-left: calc(var(--col-04) + (var(--guttersm) / 2));
    }

    .col-sm-offset-5 {
        margin-left: calc(var(--col-05) + (var(--guttersm) / 2));
    }

    .col-sm-offset-6 {
        margin-left: calc(var(--col-06) + (var(--guttersm) / 2));
    }

    .col-sm-offset-7 {
        margin-left: calc(var(--col-07) + (var(--guttersm) / 2));
    }

    .col-sm-offset-8 {
        margin-left: calc(var(--col-08) + (var(--guttersm) / 2));
    }

    .col-sm-offset-9 {
        margin-left: calc(var(--col-09) + (var(--guttersm) / 2));
    }

    .col-sm-offset-10 {
        margin-left: calc(var(--col-10) + (var(--guttersm) / 2));
    }

    .col-sm-offset-11 {
        margin-left: calc(var(--col-11) + (var(--guttersm) / 2));
    }

    .col-sm-offset-12 {
        margin-left: calc(var(--col-12) + (var(--guttersm) / 2));
    }


    /* container */
    .containerSM {
        margin: 1rem calc((var(--gutterSM) / 2) * -1);
    }
}





/*######## MD ########*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    /* colonne */
    .col-md-1 {
        flex-basis: var(--col-01);
        max-width: var(--col-01);
    }

    .col-md-2 {
        flex-basis: var(--col-02);
        max-width: var(--col-02);
    }

    .col-md-3 {
        flex-basis: var(--col-03);
        max-width: var(--col-03);
    }

    .col-md-4 {
        flex-basis: var(--col-04);
        max-width: var(--col-04);
    }

    .col-md-5 {
        flex-basis: var(--col-05);
        max-width: var(--col-05);
    }

    .col-md-6 {
        flex-basis: var(--col-06);
        max-width: var(--col-06);
    }

    .col-md-7 {
        flex-basis: var(--col-07);
        max-width: var(--col-07);
    }

    .col-md-8 {
        flex-basis: var(--col-08);
        max-width: var(--col-08);
    }

    .col-md-9 {
        flex-basis: var(--col-09);
        max-width: var(--col-09);
    }

    .col-md-10 {
        flex-basis: var(--col-10);
        max-width: var(--col-10);
    }

    .col-md-11 {
        flex-basis: var(--col-11);
        max-width: var(--col-11);
    }

    .col-md-12 {
        flex-basis: var(--col-12);
        max-width: var(--col-12);
    }


    /* gutter */
    .gut-md-hz {
        margin: 0 calc(var(--gutter) / 2);
    }

    .gut-md-vt {
        padding: calc(var(--gutter) / 2) 0;
    }


    /* offset */
    .col-md-offset-1 {
        margin-left: calc(var(--col-01) + (var(--guttermd) / 2));
    }

    .col-md-offset-2 {
        margin-left: calc(var(--col-02) + (var(--guttermd) / 2));
    }

    .col-md-offset-3 {
        margin-left: calc(var(--col-03) + (var(--guttermd) / 2));
    }

    .col-md-offset-4 {
        margin-left: calc(var(--col-04) + (var(--guttermd) / 2));
    }

    .col-md-offset-5 {
        margin-left: calc(var(--col-05) + (var(--guttermd) / 2));
    }

    .col-md-offset-6 {
        margin-left: calc(var(--col-06) + (var(--guttermd) / 2));
    }

    .col-md-offset-7 {
        margin-left: calc(var(--col-07) + (var(--guttermd) / 2));
    }

    .col-md-offset-8 {
        margin-left: calc(var(--col-08) + (var(--guttermd) / 2));
    }

    .col-md-offset-9 {
        margin-left: calc(var(--col-09) + (var(--guttermd) / 2));
    }

    .col-md-offset-10 {
        margin-left: calc(var(--col-10) + (var(--guttermd) / 2));
    }

    .col-md-offset-11 {
        margin-left: calc(var(--col-11) + (var(--guttermd) / 2));
    }

    .col-md-offset-12 {
        margin-left: calc(var(--col-12) + (var(--guttermd) / 2));
    }


    /* container */
    .containerMD {
        margin: 1.5rem calc((var(--gutterMD) / 2) * -1);
    }
}





/*######## LG ########*/

@media screen and (min-width: 992px) {
    
    /* colonne */
    .col-lg-1 {
        flex-basis: var(--col-01);
        max-width: var(--col-01);
    }

    .col-lg-2 {
        flex-basis: var(--col-02);
        max-width: var(--col-02);
    }

    .col-lg-3 {
        flex-basis: var(--col-03);
        max-width: var(--col-03);
    }

    .col-lg-4 {
        flex-basis: var(--col-04);
        max-width: var(--col-04);
    }

    .col-lg-5 {
        flex-basis: var(--col-05);
        max-width: var(--col-05);
    }

    .col-lg-6 {
        flex-basis: var(--col-06);
        max-width: var(--col-06);
    }

    .col-lg-7 {
        flex-basis: var(--col-07);
        max-width: var(--col-07);
    }

    .col-lg-8 {
        flex-basis: var(--col-08);
        max-width: var(--col-08);
    }

    .col-lg-9 {
        flex-basis: var(--col-09);
        max-width: var(--col-09);
    }

    .col-lg-10 {
        flex-basis: var(--col-10);
        max-width: var(--col-10);
    }

    .col-lg-11 {
        flex-basis: var(--col-11);
        max-width: var(--col-11);
    }

    .col-lg-12 {
        flex-basis: var(--col-12);
        max-width: var(--col-12);
    }


    /* gutter */
    .gut-lg-hz {
        margin: 0 calc(var(--gutter) / 2);
    }

    .gut-lg-vt {
        padding: calc(var(--gutter) / 2) 0;
    }


    /* offset */
    .col-lg-offset-1 {
        margin-left: calc(var(--col-01) + (var(--gutterlg) / 2));
    }

    .col-lg-offset-2 {
        margin-left: calc(var(--col-02) + (var(--gutterlg) / 2));
    }

    .col-lg-offset-3 {
        margin-left: calc(var(--col-03) + (var(--gutterlg) / 2));
    }

    .col-lg-offset-4 {
        margin-left: calc(var(--col-04) + (var(--gutterlg) / 2));
    }

    .col-lg-offset-5 {
        margin-left: calc(var(--col-05) + (var(--gutterlg) / 2));
    }

    .col-lg-offset-6 {
        margin-left: calc(var(--col-06) + (var(--gutterlg) / 2));
    }

    .col-lg-offset-7 {
        margin-left: calc(var(--col-07) + (var(--gutterlg) / 2));
    }

    .col-lg-offset-8 {
        margin-left: calc(var(--col-08) + (var(--gutterlg) / 2));
    }

    .col-lg-offset-9 {
        margin-left: calc(var(--col-09) + (var(--gutterlg) / 2));
    }

    .col-lg-offset-10 {
        margin-left: calc(var(--col-10) + (var(--gutterlg) / 2));
    }

    .col-lg-offset-11 {
        margin-left: calc(var(--col-11) + (var(--gutterlg) / 2));
    }

    .col-lg-offset-12 {
        margin-left: calc(var(--col-12) + (var(--gutterlg) / 2));
    }


    /* container */
    .containerLG {
        margin: 1.5rem calc((var(--gutterLG) / 2) * -1);
    }

}