/*######## CSS reset ########*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --col-01: calc(((100% / 12) * 1) - var(--gutter));
    --col-02: calc(((100% / 12) * 2) - var(--gutter));
    --col-03: calc(((100% / 12) * 3) - var(--gutter));
    --col-04: calc(((100% / 12) * 4) - var(--gutter));
    --col-05: calc(((100% / 12) * 5) - var(--gutter));
    --col-06: calc(((100% / 12) * 6) - var(--gutter));
    --col-07: calc(((100% / 12) * 7) - var(--gutter));
    --col-08: calc(((100% / 12) * 8) - var(--gutter));
    --col-09: calc(((100% / 12) * 9) - var(--gutter));
    --col-10: calc(((100% / 12) * 10) - var(--gutter));
    --col-11: calc(((100% / 12) * 11) - var(--gutter));
    --col-12: calc(((100% / 12) * 12) - var(--gutter));

    /* gutter verticale e orizzontale: in questo esercizio li imposto uguali */
    --gutter: 2px;
}

.row {
    display: flex;
    flex-direction: row;
}






/*######## XS ########*/

/* colonne */
.col-xs-1 {
    flex-basis: var(--col-01);
    max-width: var(--col-01);
}

.col-xs-2 {
    flex-basis: var(--col-02);
    max-width: var(--col-02);
}

.col-xs-3 {
    flex-basis: var(--col-03);
    max-width: var(--col-03);
}

.col-xs-4 {
    flex-basis: var(--col-04);
    max-width: var(--col-04);
}

.col-xs-5 {
    flex-basis: var(--col-05);
    max-width: var(--col-05);
}

.col-xs-6 {
    flex-basis: var(--col-06);
    max-width: var(--col-06);
}

.col-xs-7 {
    flex-basis: var(--col-07);
    max-width: var(--col-07);
}

.col-xs-8 {
    flex-basis: var(--col-08);
    max-width: var(--col-08);
}

.col-xs-9 {
    flex-basis: var(--col-09);
    max-width: var(--col-09);
}

.col-xs-10 {
    flex-basis: var(--col-10);
    max-width: var(--col-10);
}

.col-xs-11 {
    flex-basis: var(--col-11);
    max-width: var(--col-11);
}

.col-xs-12 {
    flex-basis: var(--col-12);
    max-width: var(--col-12);
}


/* offset */
.col-xs-offset-1 {
    margin-left: var(--col-01);
}

.col-xs-offset-2 {
    margin-left: var(--col-02);
}

.col-xs-offset-3 {
    margin-left: var(--col-03);
}

.col-xs-offset-4 {
    margin-left: var(--col-04);
}

.col-xs-offset-5 {
    margin-left: var(--col-05);
}

.col-xs-offset-6 {
    margin-left: var(--col-06);
}

.col-xs-offset-7 {
    margin-left: var(--col-07);
}

.col-xs-offset-8 {
    margin-left: var(--col-08);
}

.col-xs-offset-9 {
    margin-left: var(--col-09);
}

.col-xs-offset-10 {
    margin-left: var(--col-10);
}

.col-xs-offset-11 {
    margin-left: var(--col-11);
}

.col-xs-offset-12 {
    margin-left: var(--col-12);
}


/* gutter */
.gut-xs-hz {
    margin: 0 calc(var(--gutter) / 2);
}

.gut-xs-vt {
    padding: calc(var(--gutter) / 2) 0;
}






/*######## SM ########*/

@media screen and (min-width: 576px) and (max-width: 767px) {

    /* colonne */
    .col-sm-1 {
        flex-basis: var(--col-01);
        max-width: var(--col-01);
    }

    .col-sm-2 {
        flex-basis: var(--col-02);
        max-width: var(--col-02);
    }

    .col-sm-3 {
        flex-basis: var(--col-03);
        max-width: var(--col-03);
    }

    .col-sm-4 {
        flex-basis: var(--col-04);
        max-width: var(--col-04);
    }

    .col-sm-5 {
        flex-basis: var(--col-05);
        max-width: var(--col-05);
    }

    .col-sm-6 {
        flex-basis: var(--col-06);
        max-width: var(--col-06);
    }

    .col-sm-7 {
        flex-basis: var(--col-07);
        max-width: var(--col-07);
    }

    .col-sm-8 {
        flex-basis: var(--col-08);
        max-width: var(--col-08);
    }

    .col-sm-9 {
        flex-basis: var(--col-09);
        max-width: var(--col-09);
    }

    .col-sm-10 {
        flex-basis: var(--col-10);
        max-width: var(--col-10);
    }

    .col-sm-11 {
        flex-basis: var(--col-11);
        max-width: var(--col-11);
    }

    .col-sm-12 {
        flex-basis: var(--col-12);
        max-width: var(--col-12);
    }


    /* offset */
    .col-sm-offset-1 {
        margin-left: var(--col-01);
    }

    .col-sm-offset-2 {
        margin-left: var(--col-02);
    }

    .col-sm-offset-3 {
        margin-left: var(--col-03);
    }

    .col-sm-offset-4 {
        margin-left: var(--col-04);
    }

    .col-sm-offset-5 {
        margin-left: var(--col-05);
    }

    .col-sm-offset-6 {
        margin-left: var(--col-06);
    }

    .col-sm-offset-7 {
        margin-left: var(--col-07);
    }

    .col-sm-offset-8 {
        margin-left: var(--col-08);
    }

    .col-sm-offset-9 {
        margin-left: var(--col-09);
    }

    .col-sm-offset-10 {
        margin-left: var(--col-10);
    }

    .col-sm-offset-11 {
        margin-left: var(--col-11);
    }

    .col-sm-offset-12 {
        margin-left: var(--col-12);
    }


    /* gutter */
    .gut-sm-hz {
        margin: 0 calc(var(--gutter) * 1.2 / 2);
    }

    .gut-sm-vt {
        padding: calc(var(--gutter) * 1.2 / 2) 0;
    }
}





/*######## MD ########*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    /* colonne */
    .col-md-1 {
        flex-basis: var(--col-01);
        max-width: var(--col-01);
    }

    .col-md-2 {
        flex-basis: var(--col-02);
        max-width: var(--col-02);
    }

    .col-md-3 {
        flex-basis: var(--col-03);
        max-width: var(--col-03);
    }

    .col-md-4 {
        flex-basis: var(--col-04);
        max-width: var(--col-04);
    }

    .col-md-5 {
        flex-basis: var(--col-05);
        max-width: var(--col-05);
    }

    .col-md-6 {
        flex-basis: var(--col-06);
        max-width: var(--col-06);
    }

    .col-md-7 {
        flex-basis: var(--col-07);
        max-width: var(--col-07);
    }

    .col-md-8 {
        flex-basis: var(--col-08);
        max-width: var(--col-08);
    }

    .col-md-9 {
        flex-basis: var(--col-09);
        max-width: var(--col-09);
    }

    .col-md-10 {
        flex-basis: var(--col-10);
        max-width: var(--col-10);
    }

    .col-md-11 {
        flex-basis: var(--col-11);
        max-width: var(--col-11);
    }

    .col-md-12 {
        flex-basis: var(--col-12);
        max-width: var(--col-12);
    }


    /* offset */
    .col-md-offset-1 {
        margin-left: var(--col-01);
    }

    .col-md-offset-2 {
        margin-left: var(--col-02);
    }

    .col-md-offset-3 {
        margin-left: var(--col-03);
    }

    .col-md-offset-4 {
        margin-left: var(--col-04);
    }

    .col-md-offset-5 {
        margin-left: var(--col-05);
    }

    .col-md-offset-6 {
        margin-left: var(--col-06);
    }

    .col-md-offset-7 {
        margin-left: var(--col-07);
    }

    .col-md-offset-8 {
        margin-left: var(--col-08);
    }

    .col-md-offset-9 {
        margin-left: var(--col-09);
    }

    .col-md-offset-10 {
        margin-left: var(--col-10);
    }

    .col-md-offset-11 {
        margin-left: var(--col-11);
    }

    .col-md-offset-12 {
        margin-left: var(--col-12);
    }


    /* gutter */
    .gut-md-hz {
        margin: 0 calc(var(--gutter) * 1.4 / 2);
    }

    .gut-md-vt {
        padding: calc(var(--gutter) * 1.4 / 2) 0;
    }
}





/*######## LG ########*/

@media screen and (min-width: 992px) {
    
    /* colonne */
    .col-lg-1 {
        flex-basis: var(--col-01);
        max-width: var(--col-01);
    }

    .col-lg-2 {
        flex-basis: var(--col-02);
        max-width: var(--col-02);
    }

    .col-lg-3 {
        flex-basis: var(--col-03);
        max-width: var(--col-03);
    }

    .col-lg-4 {
        flex-basis: var(--col-04);
        max-width: var(--col-04);
    }

    .col-lg-5 {
        flex-basis: var(--col-05);
        max-width: var(--col-05);
    }

    .col-lg-6 {
        flex-basis: var(--col-06);
        max-width: var(--col-06);
    }

    .col-lg-7 {
        flex-basis: var(--col-07);
        max-width: var(--col-07);
    }

    .col-lg-8 {
        flex-basis: var(--col-08);
        max-width: var(--col-08);
    }

    .col-lg-9 {
        flex-basis: var(--col-09);
        max-width: var(--col-09);
    }

    .col-lg-10 {
        flex-basis: var(--col-10);
        max-width: var(--col-10);
    }

    .col-lg-11 {
        flex-basis: var(--col-11);
        max-width: var(--col-11);
    }

    .col-lg-12 {
        flex-basis: var(--col-12);
        max-width: var(--col-12);
    }


    /* offset */
    .col-lg-offset-1 {
        margin-left: var(--col-01);
    }

    .col-lg-offset-2 {
        margin-left: var(--col-02);
    }

    .col-lg-offset-3 {
        margin-left: var(--col-03);
    }

    .col-lg-offset-4 {
        margin-left: var(--col-04);
    }

    .col-lg-offset-5 {
        margin-left: var(--col-05);
    }

    .col-lg-offset-6 {
        margin-left: var(--col-06);
    }

    .col-lg-offset-7 {
        margin-left: var(--col-07);
    }

    .col-lg-offset-8 {
        margin-left: var(--col-08);
    }

    .col-lg-offset-9 {
        margin-left: var(--col-09);
    }

    .col-lg-offset-10 {
        margin-left: var(--col-10);
    }

    .col-lg-offset-11 {
        margin-left: var(--col-11);
    }

    .col-lg-offset-12 {
        margin-left: var(--col-12);
    }

    /* gutter */
    .gut-lg-hz {
        margin: 0 calc(var(--gutter) * 1 / 2);
    }

    .gut-lg-vt {
        padding: calc(var(--gutter) * 1 / 2) 0;
    }


}