/*######## CSS reset ########*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --col-01: calc((100% / 12) * 1);
    --col-02: calc((100% / 12) * 2);
    --col-03: calc((100% / 12) * 3);
    --col-04: calc((100% / 12) * 4);
    --col-05: calc((100% / 12) * 5);
    --col-06: calc((100% / 12) * 6);
    --col-07: calc((100% / 12) * 7);
    --col-08: calc((100% / 12) * 8);
    --col-09: calc((100% / 12) * 9);
    --col-10: calc((100% / 12) * 10);
    --col-11: calc((100% / 12) * 11);
    --col-12: calc((100% / 12) * 12);
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}




/*######## XS ########*/

/* colonne */
.col-xs-1 {
    flex-basis: var(--col-01);
    max-width: var(--col-01);
}

.col-xs-2 {
    flex-basis: var(--col-02);
    max-width: var(--col-02);
}

.col-xs-3 {
    flex-basis: var(--col-03);
    max-width: var(--col-03);
}

.col-xs-4 {
    flex-basis: var(--col-04);
    max-width: var(--col-04);
}

.col-xs-5 {
    flex-basis: var(--col-05);
    max-width: var(--col-05);
}

.col-xs-6 {
    flex-basis: var(--col-06);
    max-width: var(--col-06);
}

.col-xs-7 {
    flex-basis: var(--col-07);
    max-width: var(--col-07);
}

.col-xs-7 {
    flex-basis: var(--col-08);
    max-width: var(--col-08);
}

.col-xs-9 {
    flex-basis: var(--col-09);
    max-width: var(--col-09);
}

.col-xs-10 {
    flex-basis: var(--col-10);
    max-width: var(--col-10);
}

.col-xs-11 {
    flex-basis: var(--col-11);
    max-width: var(--col-11);
}

.col-xs-12 {
    flex-basis: var(--col-12);
    max-width: var(--col-12);
}


/* offset */
.col-xs-offset-1 {
    margin-left: var(--col-01);
}

.col-xs-offset-1 {
    margin-left: var(--col-01);
}

.col-xs-offset-2 {
    margin-left: var(--col-02);
}

.col-xs-offset-3 {
    margin-left: var(--col-03);
}

.col-xs-offset-4 {
    margin-left: var(--col-04);
}

.col-xs-offset-5 {
    margin-left: var(--col-05);
}

.col-xs-offset-6 {
    margin-left: var(--col-06);
}

.col-xs-offset-7 {
    margin-left: var(--col-07);
}

.col-xs-offset-7 {
    margin-left: var(--col-08);
}

.col-xs-offset-9 {
    margin-left: var(--col-09);
}

.col-xs-offset-10 {
    margin-left: var(--col-10);
}

.col-xs-offset-11 {
    margin-left: var(--col-11);
}

.col-xs-offset-12 {
    margin-left: var(--col-12);
}



/*######## SM ########*/

@media screen and (min-width: 576px) and (max-width: 767px) {
    
}




/*######## MD ########*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    
}




/*######## LG ########*/

@media screen and (min-width: 992px) {
    
}