:root {
    font-size: 16px;
}

[class*="col-"] {
    color: white;
    background-color: #006CFA;
    text-align: center;
    padding: 0.5rem;
    flex-shrink: 0;
    min-height: 34px;
}

.green {
    background-color: rgb(86, 205, 50);
}
