:root {
    font-size: 16px;
}

[class*="col-"] {
    color: white;
    background-color: #006CFA;
    text-align: center;
    padding: 0.5rem;
    flex-shrink: 0;
}

.container {
    margin: 0.5rem calc((var(--gutter) / 2) * -1);
}

.green {
    background-color: rgb(86, 205, 50);
}
